@import 'variables';

/*
Me quede en ver como separo por porcentajes los espacios en o-main, es decir cuanto porcentaje le voy a dar al lado izquierdo y derecho en términos porcentuales
*/

body{
    background-color: $white; 
    font-size: 14px;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0;
}

.app-main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.o-header{
    background-color: $negro-diamante;
    color: $gris-rata;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    min-height: 2em;
    padding: 1em;
}

.o-main{
    flex: 1;
    padding: 1em;
}

.o-footer{
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 8px $gris-rata;
    margin-top: 2em;
}

.c-panel{
    border-radius: 4px;
    border: 1px solid $verde-bandera;
    margin-bottom: 2em;

    .c-panel__header{
        background-color: $verde-pasto;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: $white;
        padding: .5em;
    }

    .c-panel__body{
        padding: .5em;
    }

    .c-panel__footer{
        padding: .5em;
    }
}

.c-button{
    border: 1px solid transparent;
    border-radius: .25em;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;    
    text-align: center;    
    padding: .375rem .75rem;
    line-height: 1.5;
    user-select: none;    
    vertical-align: middle;    
    white-space: nowrap;    
    -webkit-user-select: none;    
    -moz-user-select: none;    
    -ms-user-select: none;    

    &.c-button--green{
        background-color: $verde-olivo;
        color: $gris;
    }
}

.c-input{
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    font-size: 1rem;    
    line-height: 1.5;
    overflow: visible;
    outline-offset: -2px;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    width: 100%;

    &.c-input--small{
        width: 180px;
    }
}


@media screen and(min-width: 768px){
    body{
        font-size: 16px;
    }

    .o-main{
        display: flex;

        .o-main__left{
            flex-grow: 1;
            padding: 1em;
        }   

        .o-main__right{
            flex-grow: 3;
            padding: 1em;
        }   
    }

    .c-panel{
        &.c-panel--md{
            width: 70%;
        }
    }
}

@media screen and(min-width: 768px){
    body{
        font-size: 14px;
    }
}